button {
	outline: none;
	border-radius: 4px;
	border: 1px solid $border;
	background-color: $button;
	color: #fff; 

	font-size: 1.4em;
	font-family: 'Source Sans Pro';
	font-weight: 400;

	padding: 10px 22px;

	cursor: pointer;
	
	transition: .2s background-color;

	&:hover {
		background-color: $button-muted;
	}
}

button.cta {
	background-color: $accent;

	&:hover {
		background-color: $accent-muted;
	}
}