.content {
    float: left;
    width: 85%;
    height: 100vh;
    overflow: hidden;
    font-family: 'Source Sans Pro', sans-serif;
}

.active.email-item {
    background-color: #c7c7c7;
}

.email-header {
    button {
        margin: 0;
        margin-top: -37px;
        margin-left: 10px;
        padding: 5px;
        font-size: 0.9em;
        height: 30px;
        float: left;
        border-radius: 0;
        border: none;
        background-color: #f6f6f6;
        color: black;
        font-weight: bold;
    }
}

.action-list {
    margin: 30px;

    div {
        box-shadow: 3px 3px 2px #b6b6b6;
    }
}

.email-list {
    background-color: white;
    width: 30%;
    height: 100vh;
    overflow-y: scroll;
    float: left;

    ul {
        width: 100%;
        padding: 0;
    }

    .email-item {
        list-style-type: none;
        white-space: nowrap;
        padding: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        width: 100%;
        border-bottom: 1px solid #ccc;
    }


    input {
        width: 100%;
        border-radius: 0;
        border: 0;
        border-bottom: 1px solid #ccc;
    }
}

.select-email-list {
    background-color: white;
    width: 1100px;
    margin: 30px auto;
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #ccc;

    ul {
        padding: 0;
    }
    li {
        list-style-type: none;
        border-bottom: 1px solid #ccc;
        padding: 7px;
    }
}

.content-view {
    float: left;
    width: 70%;
    overflow-y: scroll;
    height: 100vh;
    border-left: 1px solid #ccc;

    * {
        margin: 20px;
    }
}

.recipe-action {
    float: left;
    margin: 10px;
    width: 250px;
    height: 250px;
    background-color: white;
    padding: 15px;

    h3 {
        text-transform: uppercase;
    }
}

.email-header {
    margin: 0;
    height: 43px;
    border-bottom: 1px solid #ccc;
    text-align: right;

    p {
        margin: 0;
    }

    span {
        margin-right: 0px;
        font-weight: bold;
    }

    i {
        margin: 14px;
    }
}

.filter-content {
    
    .filter-header {
        width: 100%;
        height: 180px;
        text-align: center;
        text-transform: uppercase;
        font-size: 2em;
        letter-spacing: 5px;
        padding: 50px;
    }

    button {
            float: right;
            border-radius: 0px;
            text-transform: uppercase;
            background-color: #a6a6a6;
            border: 0;
            font-weight: bold;
            font-size: 0.8em;
            margin-right: 10px;
            z-index: 1;
        }
    .filter-select {
        padding: 30px;
    }

    .filter-list {
        overflow-y: scroll;
        height: 600px;
        ul {
            padding-top: 50px;

            li {
                z-index: 5;
            }
        }
    }

    .filter-item {
        list-style-type: none;
        height: 200px;
        font-size: 2.2em;
        text-align: center;
        font-weight: bold;

        i {
            font-size: 0.9em;
        }
        * {
            margin: 10px;
        }
    }

}
